<h2>Agregar</h2>
<form class="formulario" [formGroup]="formProduct" (ngSubmit)="addProduct()">
    <fieldset>
        <div class="campo">
            <label for="description">
                Descripcion
            </label>

            <input type="text" formControlName="description" placeholder="Descripcion" id="description">

            <div class="alerta" [hidden]="getDescription.valid || getDescription.pristine">
                Descripcion obligatoria
            </div>
        </div>

        <div class="campo">
            <label for="price">
                Precio
            </label>

            <input type="number" formControlName="price" placeholder="Precio" id="price">

            <div class="alerta" [hidden]="getPrice.valid || getPrice.pristine">
                Precio obligatorio
            </div>
        </div>

        <div class="campo">
            <label for="stock">
                Stock
            </label>

            <input type="number" formControlName="stock" placeholder="Stock" id="stock">

            <div class="alerta" [hidden]="getStock.valid || getStock.pristine">
                Stock obligatorio
            </div>
        </div>

        <button [disabled]="formProduct.invalid" type="submit">
            Enviar
        </button>
    </fieldset>
</form>
