<div class="landing-page">
  <div class="landing-header">
      <h1>Bienvenido a UNT-TECH</h1>
      <p>Tu destino para la última tecnología a precios increíbles.</p>
      <button (click)="goToLogin()">Iniciar Sesión</button>
  </div>

  <div class="landing-main">
      <section>
          <h2>Nuestros Productos Destacados</h2>
          <div class="contenedor-products">
            <div class="product">
                <img src="https://images.pexels.com/photos/699122/pexels-photo-699122.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Producto 1">
                <h3>Smartphone de Última Generación</h3>
                <p>Descubre la potencia y la innovación en tus manos. ¡No te quedes atrás en tecnología!</p>
            </div>
            <div class="product">
                <img src="https://images.pexels.com/photos/205421/pexels-photo-205421.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Producto 2">
                <h3>Computadora Portátil Ultraligera</h3>
                <p>Trabaja y juega en cualquier lugar con nuestra computadora ultraportátil.</p>
            </div>
          </div>
          <!-- Agrega más productos destacados aquí -->
      </section>
  </div>

  <div class="landing-footer">
      <p>&copy; 2023 UNT-TECH. Todos los derechos reservados.</p>
  </div>
</div>
